[Unit]
Description=Fcitx5 VMK Server for %i
After=multi-user.target udev.target

[Service]
User=uinput_proxy
Group=input

CapabilityBoundingSet=CAP_SYS_NICE CAP_DAC_OVERRIDE
AmbientCapabilities=CAP_SYS_NICE CAP_DAC_OVERRIDE

RuntimeDirectory=vmksocket-%i
RuntimeDirectoryMode=0777

Environment=DATA_DIR=/run/vmksocket-%i
Type=simple

ExecStart=/usr/bin/fcitx5-vmk-server -u %i

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target